<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kassamfinalunitsconvertor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/elewanalogo"
        android:label="UnitsConverter"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".amps_to_watts"></activity>
        <activity android:name=".AmpsToWatts" />
        <activity android:name=".WattsToHorsepower" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>